#chat-ui-dialog {
  overflow-x: hidden;
}

#chat-ui-header .chat-ui-header__image {
  border-radius: 0;
  border: none;
}

.chat-ui-header__image {
  background-size: 100% !important;
  background-repeat: no-repeat;
}

#chat-ui-header .chat-ui-header__cell_title {
  padding-left: 10px;
}

#chat-ui-header .chat-ui-header__subtitle {
  font-size: 13px;
  color: #E0E0E0;
}

#chat-ui-mainframe {
  width: 600px !important;
  height: 90%;
  font-size: 14px;
}

.chat-ui-dialog-bubble-container {
  margin: 1rem 0;
}

.chat-ui-dialog-bubble-container img {
  max-width: 420px;
  height: auto;
}